CHART_NAME=mercer-app
CHART_VERSION=0.6.4
APP_TYPE=celery
APP_NAMESPACE=cis-innovteam-ml-wfs-uat-cra-dba
APP_RELEASENAME=celery
APP_ENV=uat
API_PORT_NUMBER=8000
KUBERNETES_URL=https://mgti-dallas-rancher.mrshmc.com/k8s/clusters/c-mx5d5
HOSTNAME=cis-innovteam-ml-wfs-uat-cra.int.pn.gc.azu-uset2.oss2.mrshmc.com
SECRETS_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/secrets/config
VAULT_URL=https://mgti-dal-so-vlt.mrshmc.com/v1/auth/kubernetes-guycarp-aks-pn-azu-uset2/login
VAULT_NAMESPACE=guycarp-aks-pn-azu-uset2/cis-innovteam-ml-wfs-uat-cra-dba
VAULT_ROLE_NAME=cis-innovteam-ml-wfs-uat-cra-dba-reader
KUBERNETES_SERVICE_ACCOUNT_NAME=cis-innovteam-ml-wfs-uat-cra-dba-web-svcacct
DEPLOYMENT_VALUES_FILE=./deployments/helm/uat/celery.yml